

<h1><%= link_to "Create A Video", new_video_path %></h1>
<div class="container">
  <h2><strong style='color:red'>IMPORTANT! Because we use ffmpeg, the audio isn't compatible with quicktime or safari. You might want to try out <a href="https://www.videolan.org/vlc/">VLC</a></strong></h2>
</div>
<div class="container">
  <% if @videos != nil %>
  <% @videos.each do |video| %>
  <div class="card">
    <h1>Video <%= video.id %></h1>
    <video width="1100" controls>
      <source src="<%= video.music_url %>" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

   <h4> Music</h4>
    <a href="<%= video.music_url %>" class='btn btn-success' download>Download!</a>
    <h4>Without Music</h4>
    <a href="<%= video.non_music_url %>" class='btn btn-success' download>Download!</a>
    <hr>
  </div>
  <% end %>
  <% else %>
    <h1>You don't have any videos yet!</h1>
  <% end %>
</div>
