<% content_for :meta do %>
  <meta property="og:url"                content="<%= "#{Rails.root}/videos#{@video.id}" %>" />
  <meta property="og:type"               content="video" />
  <meta property="og:title"              content="<%= @video.title.split('-').first %> Instagram Compilation" />
  <meta property="og:video" content="<%= @video.music_url %>">
  <meta property="og:video:secure_url" content="<%= @video.music_url %>" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video:width" content="400" />
  <meta property="og:video:height" content="300" />
<% end %>


<div class="container">
  <% if @video.no_instagram_videos != true %>

      <br>
      <h2><strong style='color:red'>IMPORTANT! Because we use ffmpeg, the audio isn't compatible with quicktime or safari. You might want to try out <a href="https://www.videolan.org/vlc/">VLC</a></strong></h2>
      <div class='social-share'>
        <h4 class='title'><strong>Share This Video!</strong></h4>
        <!-- <a class="social-link facebook" href="" id="fb-share" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i>Facebook</a> -->
        <a class="social-link twitter" href="" id="tweet" rel="nofollow" target="_blank" title="Tweet this Page"><i class="fa fa-twitter"></i> Tweet</a>
        <a class="social-link email" href="" id="email-share" title="Email to a Friend"><i class="fa fa-envelope"></i>Email</a>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
      </div><br>
      <div class="social-share">
        <% if current_user == @video.user %>
          <h4 class='title'>Upload To YouTube With One Click!</h4>
          <% if current_user.youtube_uid == nil %>
            <%= link_to "Sign In With YouTube First", user_google_oauth2_omniauth_authorize_path(), class:'btn btn-danger' %>
          <% else %>
            <%= link_to "One Click Upload!", upload_confirmation_path(vid_id: @video.id), class: 'btn btn-danger' %>
          <% end %>
        <% end %>
      </div>
      <h3><%= @video.title.split('-').first %> Instagram Compilation</h3>
      <div class="card">
        <h1>Video With Song</h1>
        <video width="1100" controls>
          <source src="<%= @video.music_url %>" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <br>

        <div class='social-share'>
          <h4 class='title'><strong>Share This Link!</strong></h4>
      	  <!-- <a class="social-link facebook" href="" id="fb-share" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i>Facebook</a> -->
      		<a class="social-link twitter" href="" id="tweet" rel="nofollow" target="_blank" title="Tweet this Page"><i class="fa fa-twitter"></i> Tweet</a>
      		<a class="social-link email" href="" id="email-share" title="Email to a Friend"><i class="fa fa-envelope"></i>Email</a>
          <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
        </div><br>
        <a href="<%= @video.music_url %>" class='btn btn-success' download>Download!</a>
        <h1>Video With Natural Audio</h1>
        <video width="1100" controls>
          <source src="<%= @video.non_music_url %>" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <br>

        <div class='social-share'>
          <h4 class='title'><strong>Share This Link!</strong></h4>
          <a class="social-link facebook" href="" id="fb-share" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i>Facebook</a>
      		<a class="social-link twitter" href="" id="tweet" rel="nofollow" target="_blank" title="Tweet this Page"><i class="fa fa-twitter"></i> Tweet</a>
      		<a class="social-link email" href="" id="email-share" title="Email to a Friend"><i class="fa fa-envelope"></i>Email</a>
        </div><br>
        <a href="<%= @video.non_music_url %>" class='btn btn-success' download>Download!</a>
        <hr>
      </div>
  <% else %>
      <div class="jubotron">
        <h1>You Don't Have Any Videos On Your Instagram!</h1>

        <h3>We use the videos to make on compilation for you.</h3>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
  function getFBShares(page){
    var shares;
    $.getJSON("http://graph.facebook.com/?ids=" + page, function(data){
      if (data[page].shares > 1){
        shares = data[page].shares;
        $("#fb-share").append(" (" + shares + ")");
      }
    });
  }
  function getTweets(page){
    var tweets;
    $.getJSON("http://urls.api.twitter.com/1/urls/count.json?url=" + page + "&callback=?", function(data){
      if (data.count > 1) {
        tweets = data.count;
        $("#tweet").append(" (" + tweets + ")");
      }
    });
  }
  function getLinkedIn(page){
    var linkedinCount;
    $.getJSON("http://www.linkedin.com/countserv/count/share?url=" + page + "&callback=?", function(data){
      if (data.count > 1) {
        linkedinCount = data.count;
        $("#linkedin").append(" (" + linkedinCount + ")");
      }
    });
  }

  var Url = "https://www.velvi.io/videos/<%= @video.id %>";
  var UrlEncoded = encodeURIComponent(Url);
  getFBShares(Url);
  getTweets(Url);
  getLinkedIn(Url);
  document.getElementById("fb-share").href="http://www.facebook.com/share.php?u=" + UrlEncoded;
  document.getElementById("tweet").href="http://twitter.com/home?status=Check out my instagram compilation! I made it with Velvi " + UrlEncoded;
  document.getElementById("gplus-share").href="https://plus.google.com/share?url=" + UrlEncoded;
  document.getElementById("email-share").href="mailto:?body=Hey, out my instagram compilation! I made it with Velvi! \n " + Url;
  });

</script>
