<div class=''>
  <!-- <div class="jumbotron">
    <h1 style='font-size:80px'>Velvi Videos</h1>

    <h5>Automatic video compilation.</h5>

  </div> -->

  <header class="header-image all-content">
    <div class="over-lay">

        <div class="headline">
            <div class="container">
                <h2 class='main-title'>Automatic Video Compilation</h2>
                <% unless user_signed_in? %>
                  <%= link_to "Get Started", user_instagram_omniauth_authorize_path, class:'btn btn-danger' %>
                <% else %>
                    <h5>
                      <%= link_to 'Get Started', new_video_path, class: 'btn btn-danger' %>
                    </h5>
                <% end %>
            </div>
        </div>
      </div>
    </header>
    <!-- <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style='margin-left:400px;'>
      <%#= image_tag "http://www.freeiconspng.com/uploads/--in-blow-to-crafty-brand-odes-instagram-adopts-minimalist-new-logo-16.jpg", size:'50x50'  %>
      <div class="row" style='margin-top:4.5px;margin-left:0px;'>
        <h4 style='margin-top:14px'>www.</h4>
        <h1 class='' style='font-weight:bold;'>Velvi </h1>
        <h4 style='margin-top:14px'>.io</h4>

      </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> -->

    <!-- <h3><%#= link_to "My Videos", videos_path %></h3> -->

    <!-- Page Content -->
    <div class="container">

        <br class="featurette-divider">
        <br class="featurette-divider">
        <br class="featurette-divider">
        <br class="featurette-divider">
        <br class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette row" id="about">
          <div class="col-sm-6 inner-text">
            <br>
            <h2 class="featurette-heading">Synch Your Instagram!</h2>

          </div>
          <div class="col-sm-6 text-center">
            <!-- <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/100x100"> -->
            <%= image_tag "http://www.freeiconspng.com/uploads/--in-blow-to-crafty-brand-odes-instagram-adopts-minimalist-new-logo-16.jpg", size:'150x150' %>
          </div>
            <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette row text-center" id="services">
          <div class="col-sm-6 ">
            <%= image_tag "https://image.freepik.com/free-icon/video-camera_318-50337.jpg", size:'150x150' %>


          </div>
          <div class="col-sm-6 text-right inner-text">
            <br>
            <h2 class="featurette-heading">With One Click, We'll Create Your Video</h2>

          </div>
            <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette row" id="contact">
          <div class="col-sm-6 inner-text">
            <br>
            <h2 class="featurette-heading">Enjoy Your Movie!</h2>

          </div>
          <div class="col-sm-6 text-center">
            <!-- <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/100x100"> -->
            <%= image_tag "http://icons.iconarchive.com/icons/iconsmind/outline/512/Happy-icon.png", size:'150x150' %>
          </div>
                <!-- <span class="text-muted">Will Seal the Deal.</span> -->
            <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
        </div>

        <hr class="featurette-divider">
        <div class="text-center">
          <% unless user_signed_in? %>
            <%= link_to "Get Started", user_instagram_omniauth_authorize_path, class:'btn btn-danger' %>
          <% else %>
              <h5>
                <%= link_to 'Get Started', new_video_path, class: 'btn btn-danger' %>
              </h5>
          <% end %>
        </div>


</div>
  <!-- , {'data-target' => "#myModal1", 'data-toggle' => "modal"} -->
