<!DOCTYPE html>
<html>
  <head>
    <title>VelviVideos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer> <%= link_to "Privacy Policy", privacy_policy_path %> </footer>
</html>
