<!DOCTYPE html>
<html>
  <head>
    <title>VelviVideos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Montserrat:400,700" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="">
      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="container">
      <%= link_to "Privacy Policy", privacy_policy_path %> </footer>
    </div>
</html>
