<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns/video#">

  <head>
    <title>VelviVideos</title>
    <%= csrf_meta_tags %>
    <%= yield :meta %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Montserrat:400,700" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="" style='margin-top:70px;'>

    </div>
    <div class="">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>


  <footer>
    <div class="container">
      <%= link_to "Privacy Policy", privacy_policy_path %>
    </div>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
  </footer>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '149516015634631',
          xfbml      : true,
          version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
</html>
